.castContainer {
    list-style: none;
    padding-left: 0px;
}

.actorCard {
    display: flex;
    margin-bottom: 15px;
}

.actorInfo {
    margin-left: 20px;
}

.actorPhoto {
    width: 100px;
}

.name {
    font-weight: 600;
}

.nameGap {
    font-weight: 600;
    margin-right: 8px;
}